/* Global styles */

:root {
  --primary-color: #1aac83;
  --secondary-color: #e7195a;
}

body {
  margin: 0;
  font-family: "Poppins", sans-serif;
  background-color: #f0f0f0;
}

header {
  background-color: var(--primary-color);
  color: white;
  padding: 10px 0;
}

header .container {
  max-width: 1400px;
  margin: 0 auto;
  padding: 0 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

header a {
  color: white;
  text-decoration: none;
  font-weight: bold;
  font-size: 1.1em;
}

.pages {
  max-width: 1400px;
  padding: 20px;
  margin: 20px auto;
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

/* Home page specific styles */

.home {
  display: grid;
  grid-template-columns: 2fr 1fr; /* Adjust grid template columns for layout */
  gap: 30px; /* Adjust gap between sections */
}

.workouts {
  /* Styling for the workouts list */
}

.workout-details {
  width: 85%;
  background-color: white;
  border-radius: 8px;
  margin-bottom: 20px;
  margin-left: 50px;
  padding: 20px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.workout-details h3 {
  margin: 0 0 10px 0;
  font-size: 1.3em;
  color: var(--primary-color);
}

.workout-details p {
  margin: 5px;
  font-size: 0.9em;
  color: #555;
}

.workout-details span {
  position: absolute;
  top: 15px;
  right: 15px;
  cursor: pointer;
  background-color: #f1f1f1;
  padding: 8px;
  border-radius: 50%;
  color: #333;
  font-size: 0.9em;
}

/* Workout form */

.create {
  max-width: 600px;
  margin: 0 auto; /* Center the form horizontally */
  padding: 30px;
  background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.create h3 {
  text-align: center;
  margin-bottom: 20px;
  color: var(--primary-color);
}

.create label {
  display: block;
  margin-bottom: 10px;
  font-weight: bold;
  color: #555;
}

.create input[type="text"],
.create input[type="number"] {
  width: 100%;
  padding: 12px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
  font-size: 1em;
}

.create button {
  width: 100%;
  padding: 12px;
  border: none;
  border-radius: 5px;
  background-color: var(--primary-color);
  color: white;
  font-size: 1em;
  transition: 0.3s;
  cursor: pointer;
}

.create button:hover {
  background-color: #0e8c6c;
  transition: 0.3s;
}

div.error {
  background-color: red;
  border: 1px solid black;
  border-radius: 4px;
  margin: 20px 0;
  padding: 10px;
}
.error {
  border: 1px solid red;
}
