/* Global styles */

:root {
  --primary-color: #1aac83;
  --secondary-color: #e7195a;
}

body {
  margin: 0;
  font-family: "Poppins", sans-serif;
  background-color: #f0f0f0;
}

header {
  background-color: var(--primary-color);
  color: white;
  padding: 10px 0;
}

header .container {
  margin: 0 0 0 50px;
  width: 100vw;
  padding: 0 20px;
  display: flex;
  align-items: center;
}
header a {
  color: white;
  text-decoration: none;
  font-weight: bold;
  font-size: 1.1em;
}
.loginSignup {
  display: flex;
  margin-left: 60%;
  justify-content: space-between;
}
.loginSignup h1 {
  margin-left: 50px;
}
.pages {
  max-width: 1400px;
  padding: 20px;
  margin: 20px auto;
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

/* Home page specific styles */

.home {
  display: grid;
  grid-template-columns: 2fr 1fr; /* Adjust grid template columns for layout */
  gap: 30px; /* Adjust gap between sections */
}

.workout-details {
  width: 75%;
  background-color: white;
  border-radius: 8px;
  margin-bottom: 20px;
  margin-left: 50px;
  padding: 20px;
  height: 120px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.workout-details h3 {
  margin: 0 0 10px 0;
  font-size: 1.3em;
  color: var(--primary-color);
}

.workout-details p {
  margin: 5px;
  font-size: 0.9em;
  color: #555;
}

.workout-details span {
  position: absolute;
  top: 15px;
  right: 15px;
  cursor: pointer;
  background-color: #f1f1f1;
  padding: 8px;
  border-radius: 50%;
  color: #333;
  font-size: 0.9em;
}

/* Workout form */

.create {
  max-width: 600px;
  margin: 0 auto; /* Center the form horizontally */
  padding: 30px;
  background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.create h3 {
  text-align: center;
  margin-bottom: 20px;
  color: var(--primary-color);
}

.create label {
  display: block;
  margin-bottom: 10px;
  font-weight: bold;
  color: #555;
}

.create input[type="text"],
.create input[type="number"] {
  width: 100%;
  padding: 12px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
  font-size: 1em;
}

.create button {
  width: 100%;
  padding: 12px;
  border: none;
  border-radius: 5px;
  background-color: var(--primary-color);
  color: white;
  font-size: 1em;
  transition: 0.3s;
  cursor: pointer;
}

.create button:hover {
  background-color: #0e8c6c;
  transition: 0.3s;
}

div.error {
  background-color: rgb(238, 138, 138);
  border: 1px solid black;
  border-radius: 4px;
  margin: 20px 0;
  padding: 10px;
}
.error {
  border: 1px solid rgb(238, 127, 127);
}

.deleteIcon button {
  border-radius: 50%;
  align-content: center;
  font-size: 40px;
  cursor: pointer;
  transition: 0.6s;
}
.deleteIcon button:hover {
  color: #0e1deb;
  transition: 0.3s;
}
.login {
  max-width: 400px;
  margin: 50px auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background-color: #fff;
}

.login h3 {
  margin-bottom: 20px;
  text-align: center;
  color: #333;
}

.login label {
  display: block;
  margin-bottom: 8px;
  font-weight: bold;
  color: #333;
}

.login input[type="email"],
.login input[type="password"] {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
  font-size: 20px;
}

.login input[type="submit"] {
  width: 100%;
  padding: 10px;
  background-color: #28a745;
  border: none;
  border-radius: 5px;
  color: white;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.login input[type="submit"]:hover {
  background-color: #218838;
}
.login button {
  font-size: 20px;
  width: 100%;
  padding: 10px;
  background-color: #28a745;
  border: none;
  border-radius: 5px;
  color: white;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease;
  font-size: 20px;
}
/* Signup.css */

.signup {
  max-width: 400px;
  margin: 50px auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background-color: #fff;
}

.signup h3 {
  margin-bottom: 20px;
  text-align: center;
  color: #333;
}

.signup label {
  display: block;
  margin-bottom: 8px;
  font-weight: bold;
  color: #333;
}

.signup input[type="email"],
.signup input[type="password"] {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
  font-size: 20px;
}

.signup button {
  width: 100%;
  padding: 10px;
  background-color: #28a745;
  border: none;
  border-radius: 5px;
  color: white;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease;
  font-size: 20px;
}

.signup button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

.signup button:not(:disabled):hover {
  background-color: #218838;
}

.error {
  color: red;
  margin-top: 10px;
  text-align: center;
}
